/Archive/node_modules/*
/NodeApp/node_modules/*
/Control/node_modules/*

NodeApp/package-lock.json

Particle/target/*
Particle/.vscode/*
Particle/src/Labo.cpp

Particle/README.md

interface/package-lock.json

interface/public/robots.txt

*.bak

Control/package-lock.json

Archive/package-lock.json
